.menu-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 10px 10px 10px;
}
.menu-bar img {
  width: 30px;
}
.menu-bar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53vw;
  padding-left: 10px;
}
.menu-bar-left div {
  font-size: 30px;
  font-weight: bold;
}
.menu-bar-right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 47vw;
}
.menu-bar-right img {
  padding-right: 4px;
}
.menu-bar-right div {
  width: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid black;
  margin: 0 10px 0 20px;
  padding: 10px 20px 12px 30px;
  font-size: 14px;
  font-weight: bold;
}
